<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <variable name="logDirectory" value="${basedir}/Logs/${shortdate}"/>
  <variable name="ex" value="${onexception:${newline}EXCEPTION OCCURRED${newline}${exception:format=tostring}}"/>

  <targets>

    <target name="file" xsi:type="File" layout="${time} | ${message}${ex}" fileName="${logDirectory}/${level}.txt" />
    <target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="${time} | ${message}${ex}" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>